

.card_list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;

}

.card_list::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    
}

.card_list::-webkit-scrollbar-thumb{
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -22px 2px rgba(0, 0, 0, .2);

}

.card_list::-webkit-scrollbar-track{
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
    
}

.card {
    height: 350px;
    width: 40px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    position: relative;
}

.card:hover {
    transform: translateY(-1rem);
    
}

.card:hover~.card, .card:focus-within {
    transform: translateX(130px);
}


.card:not(:first-child){
    margin-left: -130px;
}

.card_header {
    margin-bottom: auto;
}

.card_header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card_header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card_author{
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author_avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    overflow: hidden;
    margin: 16px 10px;
}

.half_circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
.author_name {
    grid-area: auto;
}


.author_name_prefix{
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}